<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="ActionQueue" type="WindowsService.Configuration.ActionQueueConfigSection, WindowsService" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  
  <!--Database connection-->
  <connectionStrings>
    <add name="Test" connectionString=""/>
  </connectionStrings>

 <!--Queue processing interval in minutes-->
  <ActionQueue>
    <ActionQueueConfig ActionQueueProcessingInterval="2"/>
  </ActionQueue>
  
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="Root" />
      <appender-ref ref="ActionQueue" />
    </root>
    <appender name="Root" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.PropertyFilter">
        <Key value="Thread" />
      </filter>
      <File value="Logs/log.log" />
      <AppendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %M - %m%n" />
      </layout>
    </appender>
    <appender name="ActionQueue" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.PropertyFilter">
        <Key value="Thread" />
        <StringToMatch value="ActionQueue" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <File value="Logs/ActionQueue.log" />
      <AppendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %M [%x] - %m%n" />
      </layout>
    </appender>
  </log4net>
</configuration>
